{% extends 'base.html.twig' %}

{% set is_edit = editing_movie is not null %}

{% block title is_edit ? 'Updating ' ~ editing_movie.title : 'Add a new movie !' %}

{% block main %}
    <div class="row g-5 py-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">{% if is_edit is same as(true) %}Updating {{ editing_movie.title }}{% else %}Add a movie{% endif %}e</h4>
            {{ form_start(movie_form) }}
            {{ form_widget(movie_form) }}
            <hr class="my-4" />
            <button class="w-100 btn btn-primary btn-lg" type="submit">{% if is_edit is same as(true) %}Update{% else %}Add movie{% endif %}</button>
            {{ form_end(movie_form) }}
        </div>
    </div>
{% endblock main %}
